@{
    ViewData["Title"] = "Authenticated Details Page";
}

<div class="text-center">
    <h1 class="display-4">Details</h1>
    <p>This page is restricted to authenticated Users only</p>
</div>

<ul>
    @foreach (var claim in Context.User.Claims)
    {
        <li><strong>@claim.Type:</strong>@claim.Value</li>
    }
</ul>